body{
	margin: auto;
	padding: 0;
	
	width: 50%;
	
	font-family: Arial, "serif";
	font-size: 16px;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
}

h1{
	font-family: 'Bree Serif', "serif";
	margin: auto;
}

#header{
	padding: 15px 0 15px 0;
	height: 75px;
	
	font-size: 1.5em;
	
	background-image: url("img/companylogoBG.jpg");
	background-size: cover;
	background-position: center;
}

	/* this is the navigation bar css code */
	/* this is the navigation bar css code */
#nav ul{
	margin: 0;
	padding: 8px 0 8px 0;
	list-style-type: none;
	text-align: center;
	background-color: #707070;
}

#nav li{
	display: inline;
	padding: 5px; 	
}

#nav a{
	padding: 5px;
	text-align: center;
	color: #ffffff;
	text-decoration: none;
}

	/* this is the code for all sections */
	/* this is the code for all sections */
#main article{
	margin: 0 auto 0 auto;
	
	font-size: 2em;
}

#main p{
	margin: 0;
	padding: 15px 30px 15px 30px;
	background-color: #2699FB;
}

#main span::before{
	content: "\A";
	white-space: pre;
}	
	
	/* this is the code for the footer */
	/* this is the code for the footer */
#footer{
	padding: 1px 0 1px 0;
	text-transform: none;
	background-color: #000;
}

@media screen and (max-width: 719px)
{
	body{
		width: 100%;
	}
	
	#text-nav{
		display: none;
	}
	
	#main{
		font-size: 0.80em;
	}
	
	img{
		padding: 5px;
		width: 98%;
		max-height: 300px;
		
		object-fit: cover;
	}
	
	section > article{
		display: none;
	}
	
	#always_present{
		display: block;
	}
	
	#medium_img_right{
		display: none;
	}
}

@media screen and (min-width: 720px) and (max-width: 929px)
{	
	#dropdown{
		display: none;
	}

	#main img{
		display: block;
	}
	
	#medium_img_left{
		margin: 3px 3%;
		
		width: 44%;
		height: 150px;
		float: left;
		object-fit: cover;
	}
	
	#medium_img_right{
		margin: 3px 3%;
		
		width: 44%;
		height: 150px;
		float: right;
		object-fit: cover;
	}
	
	#medium_img_bottom{
		width: 100%;
		height: 150px;
		object-fit: cover;
	}
	
	#medium_screen{
		clear: both;
	}
	
	.large_screen{
		display: none;
	}
	
	.images{
		background-color: #FFFFFF;
	}
	
	.images_largescreen{
		display: none;
	}
}

@media screen and (min-width: 930px)
{
	body {
		background-image: url("img/background.jpeg");
		background-size: 100% auto;
		background-repeat: no-repeat;
	}
	
	#dropdown{
		display: none;
	}
	
	section > img{
		min-height: 400px;
		display: block;
	}
	
	img{
		width: 100%;
		height: 190px;
		object-fit: cover;
	}
	
	#medium_img_right{
		display: none;
	}
}





