body{
	margin: 0;
	padding: 0;
	
	font-family: Arial, "serif";
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
}

h1{
	font-family: 'Bree Serif', serif;
}

.header{
	margin: auto;
	padding: 15px 0 15px 0;
	width: 50%;
	
	background-image: url("img/companylogoBG.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}

	/* this is the navigation bar css code */
	/* this is the navigation bar css code */
.nav{
	margin: auto;
	width: 50%;
}

.nav ul{
	margin: 0;
	padding: 8px 0 8px 0;
	list-style-type: none;
	text-align: center;
	background-color: #707070;
}

.nav li{
	display: inline;
	padding: 5px; 	
}

.nav a{
	padding: 5px;
	text-align: center;
	color: #ffffff;
	text-decoration: none;
}

	/* this is the code for all sections */
	/* this is the code for all sections */
#main_index article{
	margin: 0 auto 0 auto;
	width: 50%;
}

#main_index p{
	margin: 0;
	padding: 15px 30px 15px 30px;
	background-color: #2699FB;
	
	font-size: 35px;
}

#main_index span::before{
	content: "\A";
	white-space: pre;
}	
	
	/* this is the code for the footer */
	/* this is the code for the footer */
#footer{
	margin: auto;
	padding: 1px 0 1px 0;
	width: 50%;
	background-color: #000;
	text-transform: none;
}

@media screen and (max-width: 719px)
{
}

@media screen and (min-width: 720px) and (max-width: 929px)
{
	#main_index img{
		display: block;
	}
	
	#medium_img_left{
		width: 50%;
		float: left;
	}
	
	#medium_img_right{
		width: 50%;
		float: right;
	}
	
	#medium_img_bottom{
		width: 100%;
	}
	
	.large_screen{
		display: none;
	}
	
	.images{
		width: 50%;
		margin: auto;
		display: block;
	}
	
	.images_largescreen{
		display: none;
	}
}

@media screen and (min-width: 930px)
{
	body {
		background-image: url("img/background.jpeg");
		background-size: 100% auto;
		background-repeat: no-repeat;
	}
	
	.images img{
		margin: auto;
		width: 50%;
		display: block;
	}
	
	#medium_img_right{
		display: none;
	}
}





