/* this part of the css file contains the code used by ALL html files */
/* this part of the css file contains the code used by ALL html files */

body{
	margin: auto;
	padding: 0;
	
	font-family: Arial, "serif";
	font-size: 16px;
	color: #ffffff;
	text-align: center;
	font-weight: normal;
	text-transform: uppercase;
	z-index: 0;					/* I set this z-index because of the background video */
}

h1{
	font-family: 'Bree Serif', "serif";
	margin: auto;
}

#header{
	padding: 15px 0 15px 0;
	height: 75px;
	position: relative;
	
	font-size: 1.5em;
	
	background-image: url("img/companylogoBG.jpg");
	background-size: cover;
	background-position: center;
}

	/* this is the navigation bar css code */
#nav ul{
	margin: 0;
	padding: 8px 0 8px 0;
	list-style-type: none;
	background-color: #707070;
}

#nav li{
	display: inline;
	padding: 5px; 	
}

#nav a{
	padding: 5px;
	color: #ffffff;
	text-decoration: none;
}

#hamburger-menu{
	display: none;		/* I put the hamburger menu on display: none, as it is only used on mobile */
}

	/* this is the code for all sections */
.h1{
	margin: 0 auto;
	background-color: #2699FB;
	font-size: 2em;
	font-family: Arial, "serif";
	padding: 15px 0 15px 0;
}

h2{
	font-weight: normal;
	margin: auto;
}	
	
	/* this is the code for the footer */
#footer{
	padding: 1px 0 1px 0;
	text-transform: none;
	background-color: #000;
}

/* this marks the END of the part of the css file that contains the code used by ALL html files */
/* this marks the END of the part of the css file that contains the code used by ALL html files */


/* this part of the css file marks the BEGINNING of the general css code used for the contact page */
/* this part of the css file marks the BEGINNING of the general css code used for the contact page */
form{
	margin: 0 auto 0 auto;
	height: 300px;
	
	background-color: #F5F5F5;
	text-align: left;
	text-transform: none;
}

form p {
	color: #737373;
}

fieldset{
	border: none;
}

input{
	width: 80%;
	margin-left: 10%;
}

textarea{
	font-family: Arial, "serif";
	height: 75px;
	resize: none;
	margin-left: 10%;
	width: 80%;
}

#header-contact{
	background-color: #2699FB;
	font-size: 2.5em;
	font-family: Arial, "serif";
	padding: 5px 0;
}

#header-contact p{
	margin: 0;
}

#button{
	background-color: #2699FB;
	color: #ffffff;
	border: none;
	height: 30px;
	
	width: 90%;
}

/* this part of the css file marks the END of the general css code used for the contact page */
/* this part of the css file marks the END of the general css code used for the contact page */

/* this part of the css file marks the BEGINNING of the general css code used for the products page */
/* this part of the css file marks the BEGINNING of the general css code used for the products page */

#catalog{
	padding: 5px 0;
	background-color: #2699FB;
	font-size: 1.8em;
}

#products{
	padding: 5px 0;
	background-color: #2699FB;
	font-size: 1.8em;
}

#products-pics{
	background-color: #ffffff;
	padding: 7px;
}

/* this part of the css file marks the END of the general css code used for the products page */
/* this part of the css file marks the END of the general css code used for the products page */

@media screen and (max-width: 719px)
{	
	.main img{
		padding: 5px;
		width: 98%;
		min-height: 200px;
		max-height: 250px;
		
		object-fit: cover;
	}
	
	#nav ul{
		width: 98%;
		margin: 5px auto;
		padding-top: 20px;
		height: 34px;
	}
	
	#always_present{
		display: block;
	}
	
	#product8{
		display: none;
	}
	
	#product8-header{
		display: none;
	}
	
	#product6-header{
		display: none;
	}
	
	#product9-header{
		display: none;
	}
	
	#background-vid{
		display: none;
	}
	
	/* this part marks the start of the products code */
	/* this part marks the start of the products code */

	#catalog{
		display: none;
	}
	
	#products-pics{
		padding: 20px;
		
		display: grid;
		grid-template-columns: auto;
		grid-gap: 20px;
		justify-content: center;
	}

	#products-pics > img{
		height: 280px;
		width: 100%;
		object-fit: cover;
	}
}

@media screen and (min-width: 720px) and (max-width: 929px)
{	
	#header{
		font-size: 2.5em;
		height: 115px;
	}
	
	#product3{
		margin: 1%;
		
		width: 48%;
		height: 275px;
		float: left;
		object-fit: cover;
	}
	
	#product81{
		margin: 1%;
		
		width: 48%;
		height: 275px;
		float: right;
		object-fit: cover;
	}
	
	#medium_img_bottom{
		width: 100%;
		height: 275px;
		object-fit: cover;
	}
	
	#product8{
		display: none;
	}
	
	#product6{
		display: none;
	}
	
	#product8-header{
		display: none;
	}
	
	#product6-header{
		display: none;
	}
	
	#product9-header{
		clear: both;
	}
	
	#background-vid{
		display: none;
	}

	.main > h1{
		font-size: 3.3em;
		font-weight: normal;
		height: 135px;
		color: #ffffff;
	}
		
	.images_largescreen{
		display: none;
	}
	
	.images{
		background-color: #FFFFFF;
	}
	
	/* this part marks the start of the products code */
	/* this part marks the start of the products code */

	#catalog{
		display: none;
	}
	
	#products{
		display: none;
	}
	
	#products-pics{
		display: grid;
		grid-template-columns: auto auto;
		grid-gap: 7px;
		justify-content: center;
	}

	#products-pics > img{
		height: 200px;
		width: 100%;
		object-fit: cover;
	}
}

@media screen and (min-width: 930px)
{
	body {
		width: 50%;
		z-index: 0;
	}
	
	#background-vid{
		position: absolute;
		left: 0;
		width: 100%;
		z-index: -10;	
	}
	
	.images{
		width: 100%;
		height: 215px;
		display: block;
		
		overflow: hidden;
		position: relative;
	}
	
	.images article{
		width: 100%;
		height: 215px;
		display: block;
		
		overflow: hidden;
		position: relative;
	}
	
	.images img{		
		height: auto;
		width: 100%;
		
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}
	
	#product81{
		display: none;
	}
	
	/* this part marks the start of the products code */
	/* this part marks the start of the products code */

	#products{
		display: none;
	}
	
	#products-pics{
		display: grid;
		grid-template-columns: auto auto auto;
		grid-gap: 7px;
		justify-content: center;
	}

	#products-pics > img{
		height: 100px;
		width: 100%;
		object-fit: cover;
	}
}





